* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1f2937;
}

.navbar-logo a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.navbar-links {
    display: flex;
}

.navbar-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links a {
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 48px 32px;
}

.hero-text {
    max-width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 48px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    padding: 8px 24px;
    border-radius: 4px;
    cursor: pointer;
}

.hero-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img img {
    width: 100%;
    height: auto;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
    gap: 20px;
}

.information h2 {
    font-size: 32px;
    font-weight: 900;
    color: #1f2937;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 150px;
    max-width: 180px;
    text-align: center;
}

.card-image {
    
}