body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1f2937;
}

.navbar-logo a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.navbar-links {
    display: flex;
}

.navbar-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #F9FAF8;
}